<h1>Complaint</h1>



<div><%= complaint.complaintNotes %></div>
<div><%= complaint.frequency %> Times per day for <%= complaint.duration %> Days</div>

<!-- <div><%= complaint.complaintNotes %></div> -->



<!-- <% let frequency = complaint.frequency %>
<% for (let i = 0; i < frequency; i++) { %>
    <form>
        
        <input type="checkbox" name="dosage" id="dosage<%= i %>"  on>
    </form>
<% } %>    -->